<h3>Portal de Sustos</h3>
        <p>George Sanderson</p>
<section class="op">
            <div class="opciones" id="imag1">
            <p>Agendar Cita</p>
            <button class="btn btn-info"> Ver </button>
        </div>
        <div class="opciones" id="imag2">
            <p>Citas Agendadas</p>
            <button class="btn btn-info"> Ver </button>
        </div>
        <div class="opciones" id="imag3">
            <p>Multas por pagar</p>
            <button class="btn btn-info"> Ver </button>
        </div>
        <div class="opciones" id="imag4">
            <p>Ordenes Pendientes</p>
            <button class="btn btn-info"> Ver </button>
        </div>
        <div class="opciones" id="imag5">
            <p>Imágenes Diagnósticas</p>
            <button class="btn btn-info"> Ver </button>
        </div>
        <div class="opciones" id="imag6">
            <p>Autorizaciones</p>
            <button class="btn btn-info"> Ver </button>
        </div>

   
</section>