<h1>hola</h1>
<div class="calendar">

</div>
<form action="">
    <div class="form-group row">
        <label for="lista" class="col-sm-9 col-form-label">Selecciona el centro de sustos</label>
        <div class="col-sm-10">


            <select name="lista" id="lista">
                <option value="Monsters Calle 26">Monsters Calle 26</option>
                <option value="PNG Monsters">PNG Monsters</option>
                <option value="Salud & Sustos">Salud & Sustos</option>
            </select>
        </div>
    </div>
</form>