<div class="container navegacion">
    
            <nav class="navbar navbar-light bg-light">
                
                <nav class="nav nav-pills flex-column">
                    <div class="info">
                    <img src="../../../assets/img/George.jpg" alt="">
                    
                    </div>
                    
                    <p>GEORGE SANDERSON</p>
                     <hr>
                    <a class="nav-link" routerLink="/"><span class="fas fa-home"></span>  Inicio</a>
                    <a class="nav-link" routerLink="/agendadas"><span class="fa fa-calendar-alt"></span> Citas Agendadas</a>
                    <a class="nav-link" routerLink="/agendadas"> <span class="fas fa-times-circle"></span> Cancelar Citas</a>
                    <a class="nav-link " routerLink="/cerrar">   <span class="fas fa-sign-out-alt"></span>  Cerrar Sesión</a>
                    
                </nav>
            </nav>

</div>
