<section class="ci">

    <div class="row citas">
        <h4>Susto Cita- Medico General</h4>
        <div class="col-md-9">
            <tr>
                <td class="info">Modalidad </td>
                <td>virtual</td>
            </tr>
            <tr>
                <td class="info">Lugar</td>
                <td>CM Salud & Sustos</td>

            </tr>
            <tr>
                <td class="info">Fecha</td>
                <td>Miercoles, 27 de Mayo de 2020</td>
            </tr>
            <tr>
                <td class="info">Hora</td>
                <td>10:20am</td>
            </tr>
        </div>
        <div class="col-3">
            <button class="btn btn-info btn-sm"> Pagar Cita</button> <br>
            <button class="btn btn-outline-info btn-sm"> Cancelar Cita</button>
        </div>
    </div>


    <div class="row citas">
        <h4>Susto Cita- Seguimiento contacto con niño</h4>
        <div class="col-md-9">

            <tr>
                <td class="info">Modalidad</td>
                <td>Presencial</td>
            </tr>
            <tr>
                <td class="info">Lugar</td>
                <td>CM Salud & Sustos</td>

            </tr>
            <tr>
                <td class="info">Fecha</td>
                <td>Lunes, 8 de Junio de 2020</td>
            </tr>
            <tr>
                <td class="info">Hora</td>
                <td>2:40pm</td>
            </tr>
        </div>
        <div class="col-3">
            <button class="btn btn-info btn-sm"> Pagar Cita</button> <br>
            <button class="btn btn-outline-info btn-sm"> Cancelar Cita</button>
        </div>
    </div>
</section>